H25GameClient/.idea
H25GameClient/Library
H25GameClient/Logs
H25GameClient/Temp
H25GameClient/UserSettings
H25GameClient/obj
H25GameClient/H25GameClient.sln.DotSettings.user
H25GameClient/Assets/Scripts/.DS_Store
.DS_Store
MobileController/.idea
